.Leftbar {
    height: 450px;
    width: 190px;
    /* position: absolute; */
    color: black;
    background-color: lightblue;
}

.Blog ul {
    list-style: none;
    margin: 0;
    /* padding: 0; */
    text-align: left;
    margin-left: auto; 
}


.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
    color: #fa923f;
}
