.Iframe {      
    display: block;  /* iframes are inline by default */   
    height: 95vh;  /* Set height to 100% of the viewport height */   
    width: 95vw;  /* Set width to 100% of the viewport width */     
    border: none; /* Remove default border */
    background: white; /* Just for styling */
}