.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ChangePass {
    width: 40%;
    text-align: left;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: white;
    background-color: red;
    width: 200px;  
}

.Error {
    text-align: left;
    color: red;
    font-size: 15px;
}

.Info {
    text-align: left;
    color: darkblue;
    font-size: 15px;
}

.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
    width: 25%;
}

.right {
    width: 100%;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    /* padding: 12px 15px; */
    padding: .5em;
}